# Ignore everything
*

# Whitelist specific files
!.gitignore
!.bash_aliases
!.vimrc
!python/ascii_duplication_glitch.py
!README.md

# Whitelist specific directories
!.config/
!.config/nvim/
!.config/nvim/*.lua
!.config/nvim/*.vim
!.config/nvim/after/
!.config/nvim/after/plugin/
!.config/nvim/after/plugin/*.lua
!.config/nvim/after/plugin/*.vim
!.config/nvim/lua/
!.config/nvim/lua/simlav000/
!.config/nvim/lua/simlav000/*.lua
!.config/nvim/lua/simlav000/*.vim
